 
{% extends "baseTemplate.html" %}
{% block content %}


<div class="row">

 <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
<div class="jumbotron">
     <p>Select Company Name</p>

         <div class="form-check">
          <label class="form-check-label">
            <input type="radio" name="company" class="form-check-input" value="Apple" checked>Apple</input>
          </label>
        </div>

        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" name="company" class="form-check-input" value="Microsoft" >Microsoft</input>
          </label>
        </div>


        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" name="company" class="form-check-input" value="Ebay" >Ebay</input>
          </label>
        </div>

        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" name="company" class="form-check-input" value="Walmart" >Walmart</input>
          </label>
        </div>


        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" name="company" class="form-check-input" value="Tableau" >Tableau</input>
          </label>
        </div>

        <div class="form-check-inline">
          <label class="form-check-label">
            <input type="radio" name="company" class="form-check-input" value="Disney">Disney</input>
          </label>
        </div>

        <br/>
        <br>

      <div class="row">
        
          <div class="form-group col-md-6">
            <label for="begin">Start Year</label>
              <input type="text" class="form-control" id="begin" name="start" value="1980">
          </div>

          <div class="form-group col-md-6">
            <label for="end">End Year</label>
            <input type="text" class="form-control" id="end" name="end" value="2018">
          </div>

          <br>
      </div>

        <button type="button" id="drawPlot" class="btn btn-success" >Stock Price</button>

        <button type="button" id="reset" class="btn">Reset</button>

        <br/>

  </div>
</div> 

  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">

    <div id="chart" ></div>

  </div>
</div>


<div id="progress">
    
      <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
        Loading...
      </div>
    
  </div>


<script src="static/js/stockchart.js"></script>




{% endblock %}
